
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

ul.container {
  margin: 0;
  padding: 0;
}

.ex-moved {
  border-right: 3px solid orangered;
}

.ex-over {
  color: dodgerblue;
}

.available_component_types {
  text-align: left;
  padding-left: 2em;
}

.dragthing {
  list-style: none;
}

.dragthing mat-icon {
}

.dragthing p {
  display: inline;
  padding-left: 0.25em;
  color: dodgerblue;
}

p {
  color: dodgerblue;
  text-align: left;
  padding-top: 0;
  margin-top: 0;
}

mat-grid-tile > figure.mat-figure {
  justify-content: flex-start !important;
  color: purple;
}

ul.destination {
  border-left: 1px dotted dodgerblue;
}

.mat-grid-tile .mat-figure {
  color: orange;
  justify-content: flex-start !important;
}
