<div class="audit_type_component_edit">
  <span>
    <h3 class="handle">{{audit_type_component.title}}</h3>
    <p>{{audit_type_component.help_text}}</p>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </form>
  </span>
</div>
