<div [ngClass]="{'audit_type_component_edit': true, 'dirty': audit_type_component.hasDirtyAttributes}">

  <mat-grid-list *ngIf="!inEditMode" cols="10" rowHeight="1.2em">
    <mat-grid-tile colspan="1">
      <mat-icon class="component-icon">{{iconName(audit_type_component.name_of_component_type)}}</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
      <div class="text-inside-grid">
        <p (click)='startEditing()'>{{audit_type_component.title}}</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <button mat-icon-button *ngIf="!inEditMode" (click)="startEditing()">
        <mat-icon aria-label="Edit this component">edit</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!inEditMode" (click)="deleteComponent(audit_type_component)" class="alert">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <form class="componentForm"  #componentForm="ngForm" *ngIf="inEditMode" name="componentForm" class="component-form in-edit-mode example-container" novalidate (ngSubmit)="saveComponentChanges(audit_type_component)">

    <mat-form-field>
      <input matInput placeholder="Title" value="{{audit_type_component.title}}" name="title" [(ngModel)]="audit_type_component.title" required #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Title is required
      </div>
    </mat-form-field>
    <mat-form-field *ngIf="showChoices()">
      <input matInput placeholder="Choices" value="{{audit_type_component.choices}}" name="choices" [(ngModel)]="audit_type_component.choices">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Help text" value="{{audit_type_component.help_text}}"  name="help_text" [(ngModel)]="audit_type_component.help_text" required></textarea>
    </mat-form-field>

    <section>
      <label>Is mandatory ? </label>
      <mat-checkbox  name="is_mandatory" [(ngModel)]="audit_type_component.is_mandatory"></mat-checkbox>

      <div class="button-row">
        <button mat-raised-button (click)="cancel()">Cancel</button>
      </div>
    </section>
  </form>

</div>
