<div class="audit_type_component_edit">
  <span>
    <h3  class="handle">{{audit_type_component.title}}</h3>
    <form class="exampleForm" name="exampleForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Title" value="{{audit_type_component.title}}" name="title" [(ngModel)]="audit_type_component.title">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Choices" value="{{audit_type_component.choices}}" name="choices" [(ngModel)]="audit_type_component.choices">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Help text" value="{{audit_type_component.help_text}}"  name="help_text" [(ngModel)]="audit_type_component.help_text"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Is mandatory" value="{{audit_type_component.is_mandatory}}" name="is_mandatory" [(ngModel)]="audit_type_component.is_mandatory">
      </mat-form-field>
      

      <button mat-raised-button (click)="saveComponentChanges(audit_type_component)">Save</button>
    </form>

    <div *ngIf="audit_type_component.has_image"><mat-icon>contact_phone</mat-icon></div>
  </span>
</div>
